# Built application files
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties
.tools/

# Scratch files
tmp/

# IDE
*.iml
.idea/
.DS_Store

# Kotlin
.kotlin/

# Android
/captures
.externalNativeBuild
.cxx
